.coluna-dezenas-mega ul li {
    display: inline-block;
    font-weight: 100;
    color: white;
    font-size: 1.2rem;
    padding: 9px 0px;
    height: 2rem;
    width: 3rem;
    border-radius: 100%;
    background-color: #209869;
    margin-right: 25px;
    text-align: center;
    line-height: 2em;
    font-weight: bold;

}

.coluna-dezenas-mega ul {
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;
    width: 100%;

}
.coluna-dezenas-quina ul li {
    display: inline-block;
    font-weight: 100;
    color: white;
    font-size: 1.2rem;
    padding: 9px 0px;
    height: 2rem;
    width: 3rem;
    border-radius: 100%;
    background-color: #260085;
    margin-right: 25px;
    text-align: center;
    line-height: 2em;
    font-weight: bold;

}

.coluna-dezenas-quina ul {
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;
    width: 100%;

}


.coluna-dezenas-loto ul li {
    display: inline-block;
    color: #930089;
    font-size: 1.5rem;
    width: 15%;
    margin-right: 10px;
    margin-left: 0px;
    text-align: center;
    line-height: 2em;
    font-weight: bold;
    border-bottom: solid 2px #d5d9df
}

.coluna-dezenas-loto ul {
    padding-inline-start: 0px;
    width: 500px;

}

